@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

$mainColor: #247cff;
$mainColorDark: #1a4ed2;
$bgColor: white;
$bgColorDark: #f1f6fb;
$bgColorBlue: #19253e;
$lightText: #666f77;
$lightBlue: #a9cbff;

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    &:visited {
        color: unset;
    }

    font-size: 1em;

}

body {
    @include medium {
        font-size: 18px;
    }
}

:root {
    --bgHeight: 440px;

    @include medium {
        --bgHeight: 620px;
    }

    @include large {
        --bgHeight: 820px;
    }
}

@mixin justifyAndAlign($justify) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
}

@mixin button($fill, $border, $type, $hoverColor) {
    background-color: $fill;
    border: 2px solid $border;
    border-radius: 4px;
    color: $type;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 26px;

    transition: .3s;

    &:hover {
        background-color: $hoverColor;
        border-color: $hoverColor;
        transform: translateY(-3px);
    }
}

@mixin tailedTitle {
    position: relative;

    &::after {
        background-color: $mainColor;
        bottom: 7px;
        content: '';
        height: 4px;
        margin-left: 8px;
        position: absolute;
        width: 30px;
    }
}

h2 {
    font-size: 2em;
}